/*! http://responsiveslides.com v1.54 by @viljamis */

.ccm-image-slider {
  position: relative;
}

.ccm-image-slider-text {
  left: 0;
  position: absolute;
  top: 10%;
  width: 45%;
}

.ccm-image-slider-title {
  margin-top: auto;
}

.ccm-image-slider-container a.mega-link-overlay {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 20;
}

.rslides {
  margin: 0 auto;
}
