div.ccm-panel-content {
  header {
    a.ccm-panel-back {
      display: flex;
      align-items: center;
      svg {
        height: 15px !important;
      }
      span {
        padding: 0 5px;
      }
    }
  }
}
#ccm-panel-dashboard{
  .ccm-panel-content-inner {
    padding: 0px;
    margin-top: 16px;
  }
}
.package-page-divider,
.nav-divider {
  height: 1px;
  overflow: hidden;
  background-color: $gray-200;
  margin: 9px 0 !important;
}
.dashboard-nav-rendered {
  ul.nav {
    margin-bottom: 9px !important;
  }
}
.active-top-menu-title {
  display: none;
}
.ccm-panel-dashboard-footer {
  border-top: 1px solid #c6cbcf;
  padding: 27px 21px 9px 24px;
  margin: 9px 0 !important;
}
ul.welcome-menu {
  li {
    a {
      line-height: 1.8em !important;
      padding: 11px 21px 11px 24px !important;
      text-decoration: none !important;
      display: block !important;
      color: #6a6f7b !important;
      &:hover {
        background-color: #d2eafa !important;
      }
    }
  }
}
