#ccm-panel-detail-page-seo {
    & .form-group {
        position: relative;
        & .form-text {
            position: absolute;
            top: 5px;
            right: 0;
            font-size: 90%;
            font-style: italic;
        }
    }
}