html.ccm-panel-detail-open {
  > body {
    overflow: hidden;
  }

  .ccm-panel-detail {
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
  }
}

div.ccm-panel {
  background-color: $panel-background-color;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  user-select: none;
  width: 320px;
  z-index: $index-level-panel; // has to come above the detail actions wrapper
}

div#ccm-panel-overlay {
  background: transparent;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: background-color cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  width: 100%;
  z-index: $index-level-panel-overlay;
}

div#ccm-panel-overlay.ccm-panel-translucent {
  background-color: rgba(255, 255, 255, 0.7);
}

html.ccm-panel-ready {
  div.ccm-page {
    transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  }
}

html.ccm-panel-ready.ccm-panel-left {
  div.ccm-page {
    transform: translate(320px, 0);
  }
}

html.ccm-panel-ready.ccm-panel-right {
  div.ccm-page {
    transform: translate(-320px, 0);
  }
}

html.ccm-panel-ready.ccm-panel-transition-none {
  div.ccm-page {
    transition: none;
  }
}

/*
html.ccm-panel-ready {

  div.ccm-page {
    .backface-visibility(hidden);
    .transition-transform(cubic-bezier(0.190, 1.000, 0.220, 1.000) 0.5s);
  }

}
*/

div.ccm-panel-transition-none.ccm-panel-left {
  display: none;
}

div.ccm-panel-transition-none.ccm-panel-left.ccm-panel-active {
  display: block;
}

div.ccm-panel-transition-slide.ccm-panel-left {
  left: 0;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.5s;

}

div.ccm-panel-transition-none.ccm-panel-right {
  display: none;
}

div.ccm-panel-transition-none.ccm-panel-right.ccm-panel-active {
  display: block;
}

div.ccm-panel-transition-slide.ccm-panel-right {
  right: 0;
  transform: translate(100%, 0);
  transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

div.ccm-panel-left.ccm-panel-transition-slide.ccm-panel-active {
  transform: translate(0, 0);
}

div.ccm-panel-right.ccm-panel-transition-slide.ccm-panel-active {
  transform: translate(0, 0);
}

/**
 * Shadow layer
 */

div.ccm-panel-right.ccm-panel-active {
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.12);
}

div.ccm-panel-right {
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.12);
}

div.ccm-panel-left {
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.12);
}

/**
 * Panel Content
 */
div.ccm-panel-content {
  bottom: 0;
  left: 0;
  margin-top: 48px;
  overflow: auto;
  padding: 0;
  position: absolute;
  top: 0;
  transition: transform cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  width: 320px;

  button.ccm-delete-clipboard-item {
    color: #a2a3a8;

    &:hover {
      color: darken(#a2a3a8, 15%);
    }
  }

  section {
    padding: 0;
  }
}

div.ccm-panel-content {

  padding: 20px 10px 0 16px;

  header {
    font-weight: 500;
    padding: 15px 11px 0 24px;

    aside {
      float: right;
      font-size: $font-size-sm;
      font-weight: lighter;
      margin-top: 4px;

      a {
        text-decoration: none;
      }
    }
  }

  table {
    border-top: 1px solid $gray-200;
    margin-top: 1em;
  }

  ul.nav,
  menu {
    border-top: 1px solid $gray-200;
    margin-bottom: 1rem;
    margin-top: 1rem;

    padding: 0;
    padding-top: 0.5rem;

    > li {
      margin-left: 0;
      margin-top: 0;

      > ul {
        margin-left: 25px;
      }
    }

    li {

      list-style-type: none;

      &.active {
        a {
          color: $blue;
          font-weight: 700;
        }
      }

      a {
        color: $gray-600;
        display: block;
        line-height: 1.8em;
        padding: 14px 21px 14px 24px;
        text-decoration: none;

        &:hover {
          background-color: #d2eafa;
        }

        &.ccm-panel-menu-item-active {
          color: $blue;
          font-weight: 700;
        }
      }

      a:hover {
        text-decoration: none;
      }

      ul {

        margin-top: 5px;
        padding-left: 0;

        li {
          margin-left: 20px;
          margin-top: 3px;
        }

        a {
          border-radius: 0;
          display: inline;
          font-weight: 400;
          padding: 0;

          &:hover {
            background-color: auto;
          }
        }
      }
    }

  }
}

div.ccm-panel-content-inner {
  padding: 20px 40px 40px;
}

/**
 * Panel main detail areas
 */
div.ccm-panel-detail {
  background: transparent;
  box-sizing: border-box;
  display: none;
  height: 100%;
  padding-top: 48px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: $index-level-panel-detail;

  &.ccm-panel-detail-static {
    display: block;
  }

  &.ccm-panel-detail-static-left {
    padding-left: 321px;
  }

  &.ccm-panel-detail-static-right {
    padding-right: 321px;
  }

}

html.ccm-panel-left div.ccm-panel-detail {
  padding-left: 321px;
}

html.ccm-panel-right div.ccm-panel-detail {
  padding-right: 321px;
}

div.ccm-panel-detail-content {
  padding: 40px 40px 80px 40px;
  background-color: white;
  min-height: 100%;
  min-width: 100%;

  div.ccm-notification-help {
    position: absolute;
    right: 0;
    top: 110px;
  }

  section {
    padding: 0;
  }


}

div.ccm-panel-detail {
  header {
    font-size: $font-size-lg;
    font-weight: 300;
    margin: -40px -40px 30px -95px;
    padding: 39px 80px 39px 95px;
  }

  hr {
    margin-left: -40px;
    margin-right: -40px;
  }

}

/**
 * Panel Detail Fade
 */
div.ccm-panel-detail.ccm-panel-detail-transition-fade {
  display: block;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

div.ccm-panel-detail.ccm-panel-detail-transition-fade-apply {
  opacity: 1;
}

/**
 * Miscellaneous effects classes
 * First we have to push the item with positioning
 * because it's going to lose its position once the new effect takes place.
 */

html.ccm-panel-left div.ccm-page.ccm-panel-detail-transition-swap {
  left: 320px;
  position: relative;
}

html.ccm-panel-right div.ccm-page.ccm-panel-detail-transition-swap {
  position: relative;
  right: 320px;
}

html.ccm-panel-ready div.ccm-page.ccm-panel-detail-transition-swap {
  transform: rotateY(0deg);
  transition-duration: 0.5s;
  transition-timing-function: none;
}

html.ccm-panel-ready div.ccm-page.ccm-panel-detail-transition-swap.ccm-panel-detail-transition-swap-apply {
  transform: rotateY(180deg);
  transition-duration: 0.5s;
  transition-timing-function: none;
}

div.ccm-panel-detail.ccm-panel-detail-transition-none.ccm-panel-detail-transition-none-apply {
  display: block;
}

html.ccm-panel-ready div.ccm-page.ccm-panel-detail-disable-transition {
  transition: none;
}

div.ccm-panel-dashboard-footer {
  margin: 20px 0;
}

/**
 * Panel Drill Down
 */
div.ccm-panel-slide-left {
  transform: translate(-320px, 0);
}

div.ccm-panel-slide-right {
  transform: translate(320px, 0);
}

div.ccm-panel-content-appearing {
  transform: translate(320px, 0);
}

div.ccm-panel-content.ccm-panel-content-visible {
  transform: translate(0, 0);
}

div.ccm-panel-content {
  header {
    a.ccm-panel-back {
      color: $gray-700;
      display: block;
      margin-bottom: 30px;
      margin-top: -15px;
      text-decoration: none;

      transition: color 0.1s ease-in-out;

      &:hover {
        color: $blue;

        svg {
          fill: $blue;
        }
      }

      svg {
        height: 20px;
        transition: fill 0.1s ease-in-out;
        width: 20px;
      }
    }

  }
}

/**
 * Forms and button actions
 */
div.ccm-panel-detail-form-actions {
  background-color: $gray-100;
  border-top: 1px solid $gray-200;
  bottom: 0;
  left: 0;
  padding: 15px 20px 15px 340px;
  position: fixed;
  width: 100%;
}

/**
 * Page Design Side Panel
 */
#ccm-panel-page-design {
  h5 {
    font-size: 1.2rem;
  }

  .ccm-panel-content-inner {
    margin-top: 16px;
    border-top: 1px solid $gray-200;
    padding: 0;

    .ccm-panel-page-design-title {
      font-weight: bold;
      color: $gray-700;
    }

    #ccm-panel-page-design-page-templates {
      padding: 25px 10px 10px 34px;

      .form-check {
        margin: 22px 0;

        label {
          display: block;
          clear: both;
          margin-left: 15px;

          img {
            width: 25px;
            height: auto;
            float: right !important;
          }
        }
      }
    }

    #ccm-panel-page-design-themes {
      padding: 18px 10px 10px 34px;

      .ccm-page-design-theme-thumbnail {
        margin: 20px 0;

        span > i > img {
          width: 225px;
          height: auto;
          border: 1px solid $gray-200;
        }
      }
    }
  }
}

/**
 * Panel icons
 */