div.ccm-ui {
  .ccm-widget-colorpicker {
    height: unset;
    width: unset;
    padding: 5px;
    border: 1px solid $input-border-color;

    .sp-preview {
      width: 35px;
      height: 30px;
      border: 1px solid $input-border-color;
      border-radius: 2px;
      margin-right: 15px;
    }

    .sp-dd {
      line-height: 2.6rem;
      font-size: 12px;
      right: 2px;
      color: $input-color;
    }

    &.sp-replacer:hover,
    &.sp-replacer.sp-active {
      border-color: $input-focus-border-color;
    }
  }
}
