.ccm-ui {
  
  div.modal-dialog {
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.2);
  }
  
  .modal-header {
    background-color: $blue;
    font-weight: 400;
    color: white;
    
    .modal-title {
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 0.02rem;
    }
    
    button {

      opacity: 1;
      color: white;
      transition: color 0.25s ease-in-out;

      &:not(:disabled):not(.disabled) {
        @include hover-focus() {
          opacity: 1;
          color: $gray-600;

          svg {
            fill: $gray-600;
          }

        }
      }
      
      svg {
        width: 24px;
        height: 24px;
        fill: white;
        transition: fill 0.25s ease-in-out;
      }

    }
      
    
  }
}
