div#ccm-dashboard-content,
div[id^=ccm-panel-detail-page-] {
  /**
    * Form updates for dashboard. Note, you have to opt into
    * the negative margin updates by placing them into a fieldset
    */
  fieldset {
    legend {
      color: $gray-500;
      padding: 35px 0;
    }

    .form-group {
      margin-bottom: 1.5rem;
      padding-left: 20px;

      label {
        color: $gray-700;
        font-weight: bold;
      }
    }
  }
}
