div.ccm-ui {

  fieldset {

    legend {
      color: $gray-500;
      padding: 35px 0;
    }

    .form-group {
      padding-left: 20px;

      > label {
        color: $gray-700;
        font-weight: 600;
      }

    }
  }
}

.form-control {
  &::placeholder {
    font-style: italic;
  }
}
