/* stylelint-disable property-no-vendor-prefix */
//@import "../../vendor/tourist/tourist.less";

div.ccm-panel-help-item {
  margin-bottom: 30px;

  a:focus,
  a:active {
    outline: none;
    text-decoration: none;
  }

  ol.breadcrumb {
    background: none;
    padding: 0;

    > li + li::before {
      color: #999;
      content: '|\00a0';
      padding: 0 5px;
    }
  }
}


ol.ccm-panel-help-item-icon-row {
  margin: 0 0 10px;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 10px;

    i {
      opacity: 0.5;
    }
  }
}

/** toolbar guide */
div#ccm-toolbar {
  .tour-highlight {
    a,
    &.ccm-toolbar-search {
      @include gradient-y(#D6E6EE, #B8DCEE);
      background-color: #d6e6ee;
      color: #136cc0;
    }

  }
}

/* Help tours */
.ccm-help-tour {
  font-size: 1.1rem;
  h3 {
    font-size: 1.25rem;
    margin-bottom: 0.3rem;
  }
  background-color: $help-tour-background-color;
  &.bs-popover-top > .arrow::after, .bs-popover-auto[x-placement^=top] > .arrow::after {
    border-top-color: $help-tour-background-color;
  }
  &.bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^=right] > .arrow::after {
    border-right-color: $help-tour-background-color;
  }
  &.bs-popover-bottom > .arrow::after, .bs-popover-auto[x-placement^=bottom] > .arrow::after {
    border-bottom-color: $help-tour-background-color;
  }
  &.bs-popover-left > .arrow::after, .bs-popover-auto[x-placement^=left] > .arrow::after {
    border-left-color: $help-tour-background-color;
  }
  padding: $help-tour-padding;
  .ccm-help-tour-close {
    position: absolute;
    top: $help-tour-padding;
    right: $help-tour-padding;
    color: #fff;
    font-size: 1rem;
    &, &:hover {
      text-decoration: none;
    }
  }
  .popover-body {
    color: $help-tour-foreground-color;
    padding: 0;
    max-width: 25rem;
  }
  .ccm-help-tour-footer {
    margin-top: 1rem;
  }
  .ccm-help-tour-position {
    font-size: 80%;
    margin-top: 0.3rem;
    color: $help-tour-position-color;
  }
  .popover-navigation {
    padding: 0!important;
    margin: 0;
    .disabled {
      visibility: hidden;
    }
    a {
      margin-left: 1rem;
      &, &:hover {
        text-decoration: none;
      }
    }
  }
}