.ccm-notification {
  border-radius: 3px;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  -webkit-font-smoothing: antialiased;
  max-width: 90%;
  padding: 30px 30px 30px 0;
  top: 45px;

  div.ui-pnotify-icon {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    height: 40px;
    left: 20px;
    padding: 11px 12px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 40px;
  }

  h4.ui-pnotify-title {
    font-weight: 300;
    margin: 0 0 10px 70px;
    padding: 0;
  }

  div.ui-pnotify-text {
    margin-left: 70px;
  }

  span.ccm-notification-closer {

    position: absolute;
    right: 5px;
    top: 0;

    &::after {
      content: '\f00d';
      font-family: FontAwesome;
    }
  }

  div.ccm-notification-inner-buttons {
    margin-top: 10px;

    a,
    button {
      border: 0;
      outline: 0;
    }

    .btn-default {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}

.ccm-panel-open.ccm-panel-right {
  .ccm-notification {
    @include media-breakpoint-only(md) {
      // Push the dashboard hud notifications outside of the sidebar panel
      // as they are otherwise covered by that element.
      left: -260px;
    }
  }
}

div.ccm-notification-info {
  background-color: rgba(19, 72, 125, 0.9);
  color: #adeef7;

  h3 {
    color: #fff;
  }

  .ccm-notification-icon {
    color: #fff;
  }
}

div.ccm-notification-success {
  background-color: rgba(15, 190, 102, 0.9);
  color: #fff;

  h3 {
    color: #fff;
  }

  i {
    color: #fff;
  }
}

div.ccm-notification-danger {
  background-color: rgba(190, 62, 62, 0.9);
  color: #fff;
}


div.ccm-notification-page-alert {
  z-index: $index-level-page-alert;
  @include media-breakpoint-only(sm) {
    right: 60px;
  }
}

/**
 * Error dialogs
 */
div#ccm-popup-alert-message {
  word-wrap: break-word;
}
