/**
 * These are search forms for the new style search in v8 (file manager)
 */

div.ccm-header-search-form-input {
  position: relative;

  a.ccm-header-reset-search {
    color: #09f;
    display: none;
  }

  a.ccm-header-launch-advanced-search {
    color: #aaa;
    right: 10px;

  }


  a.ccm-header-launch-advanced-search +
  input.form-control {
    padding-right: 110px;
    width: 312px;
  }

  a.ccm-header-reset-search,
  a.ccm-header-launch-advanced-search {
    position: absolute;
    top: 10px;
    z-index: $index-level-search-reset;
  }

  a.ccm-header-reset-search {
    left: 10px;

    &.ccm-header-reset-search-right {
      left: auto;
      right: 10px;

    }
  }
}

form.form-inline div.ccm-header-search-form-input {
  display: inline-block;
}

ul.ccm-header-search-navigation {
  list-style: none;
  margin: 0;
  padding: 4px 0 0;
  text-align: right;

  li {
    display: inline-block;
    margin-left: 20px;
  }

  a {
    color: #777;
    transition: 0.1s linear all;
  }

  a:focus,
  a:hover {
    color: #333;
    outline: none;
    text-decoration: none;
  }

  a.link-primary {
    color: #09f;
  }

  a#ccm-file-manager-upload {

    color: #09f;

    position: relative;

    input[type=file] {
      border: 1px solid black;
      cursor: pointer;
      height: 20px;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover {
      color: #2b507b;
    }
  }
}

div.ui-dialog {
  div.table-responsive {
    margin: -15px -26px -20px;
  }

  div.ccm-search-results-breadcrumb {
    display: inline-block;
    height: 15px;
    left: 10px;
    position: absolute;
    top: 10px;
    z-index: 2;

    ol {
      margin-bottom: 0;

      li a,
      li span {
        font-weight: normal;
        position: static;
      }
    }
  }

  div.ui-dialog-titlebar {
    span {
      margin-right: 20px;
    }
  }

  // If the search header comes inside of a ui-dialog and not in the dashboard, it's safe to say it needs its own
  // positioning, because the dashboard is what takes of positioning it in the Dashboard context. So let's position
  // it manually (but only in the div.ui-dialog)
  div.ccm-header-search-form {
    float: right;
    margin-bottom: 20px;
  }

  div[data-search-element=results] {
    clear: both;
  }
}

/**
 * Breadcrumb
 */
div.ccm-search-results-breadcrumb {
  -webkit-font-smoothing: antialiased;

  ol.breadcrumb {
    background-color: transparent;
    margin-bottom: -20px;
    padding: 0;
    position: relative;

    > li a {
      color: #777;
      transition: 0.1s linear all;
    }

    > li > a {
      &:hover,
      &:focus {
        color: #333;
        outline: none;
        text-decoration: none;
      }
    }

    > li.active a {
      color: #333;
    }

    > li.ccm-search-select-active-droppable a,
    > li a.ccm-search-select-active-droppable {
      color: #09f;
    }

    > li + li::before {
      color: #999;
      content: '>';
      font-size: $font-size-sm;
      font-style: normal;
      left: 0;
      padding-right: 8px;
      position: relative;
      text-decoration: inherit;
      top: -2px;
    }
  }

}

/**
 * Draggable table row items
 */
div.ccm-draggable-search-item {

  position: relative;

  &::after {
    color: #666;
    display: inline-block;
    font-family: FontAwesome;
    font-size: $font-size-lg;
    font-style: normal;
    text-decoration: inherit;
  }

  &.ccm-search-results-stack {
    &::after {
      content: '\f1b3';
    }
  }

  &.ccm-search-results-folder {
    &::after {
      content: '\f07b';
    }
  }

  &.ccm-search-results-file {
    &::after {
      content: '\f016';
    }
  }

  span {
    background-color: #09f;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    height: 20px;
    position: absolute;
    right: 18px;
    text-align: center;
    top: -2px;
    width: 20px;

  }
}

html.ccm-search-results-dragging {
  div.ccm-search-results-breadcrumb {
    ol.breadcrumb {
      > li a:hover {
        text-decoration: none !important;
      }
    }
  }
}


.ccm-search-results-copy {
  cursor: copy !important;
}
