div.ccm-ui {
  .nav-tabs {

    .nav-link {
      padding-top: 0;
      color: $nav-tabs-link-color;
      border-bottom-width: 2px;
      transition: border-color .25s ease-in-out;

      &:hover {
        color: $gray-500;
      }

      &.active {
        &:hover {
          color: $nav-tabs-link-active-color;
        }
        font-weight: bold;
      }

    }

  }
}
