div.ccm-block-hero-image {

  div.ccm-block-hero-image-cover {
    z-index: 2;
  }

  div.ccm-block-hero-image-image {
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }



}