@import '../../../cms/scss/variables';

.ccm-dashboard-breadcrumb {
  margin-bottom: 0;
  margin-top: 0;
}

.ccm-stack-editor-column {
  transition: width 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}

#ccm-stack-editor {
  margin-top: $ccm-toolbar-height * 2;
}
